.container {
  font-size: 1.2em;
  margin-top: 6em;
  text-align: center;
  margin-bottom: 5em;
}

.link {
  color: darkgrey;
  text-decoration-color: black;
}

.link:hover {
  color: black;
}

.list-container {
  margin-top: 3em;
  margin-left: 40%;
  font-size: 1.1em;
}

.list {
  margin-right: 3em;
}

.head {
  margin: 0;
  padding: 0;
}

.info {
  margin-bottom: 1em;
}