.card {
  width: 70%;
  background-color: #C0C0C0;
  border-radius: 0.4em;
  margin: 0 auto 2em;
  padding: 7% 3.5%;
  font-size: 1.5em;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.row1 {
  font-size: 1.7em;
  margin-top: 0;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1150px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .card {
    padding: 7% 10%;
  }
}

.last {
  margin: 0;
}

.img {
  display: block;
}