.container {
  background-color: #C0C0C0;
  text-align: center;
  border-radius: 0.4em;
  font-size: 1.2em;
  border: 2px solid darkgray;
}

.container:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}