@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Staatliches', cursive;
  /*font-family: 'Titan One', cursive;*/
}